@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.big-header{
    
    background-image:url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding:30px 70px 0px 80px;
    height: 100vh;
}
.small-header{
    background:#403F3F;
    padding:7px 80px 7px 80px;
}
.header nav{
    display: flex;
    justify-content: space-between;
}
.small-header nav{
    display: flex;
    align-items: center;
}
.header .logo{
    display: flex;

}
.header .logo img{
    width: 7rem;
}
.header a,footer a{
    text-decoration: none;
    color: white;

}
.header .logo i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}
i span{
    color: #FB3B52;
}

/* nav */
.navbar{
    display:flex;
}
.navbar li{
    list-style: none;
    margin: 10px;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.navbar li:hover{
    color:#FB3B52 ;
}
#focus{
    color:#FB3B52;
    font-weight: bold;
}

/* main-header */
.main-header{
    margin-top:5%;
}
.main-header .h3{
    font-size: 3rem;
    /* font-weight: bold; */

}
.main-header .h1{
    font-size: 8.5rem;
    font-weight: bold;
    /* margin-top: -rem; */
    text-shadow: 0rem 0.1rem 1rem rgb(8, 70, 73);
}
.main-header .h4{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: -1rem;
}
.btn{
    background: #FB3B52; 
    border: none;   
    color: white;
    font-weight: bold;
}
.btn:hover{
    background: rgb(102, 98, 98);
}
.main-header .btn-header{
    margin-top: 3rem;
    padding: 20px 90px;
    font-size: 1.2rem;

}


















/* footer */
footer{
    background: #3d3a3a;
    display: flex;
    padding: 4.5rem;;
    
}
.footer .logo{
    width: 15%;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
}
.footer .logo img{
    width: 80%;
}
footer .menu{
    text-align: center;
    margin: auto;
}
.footer .infor{
    text-align: center;
    width: 22%;
}
.footer .icons{
    display: flex;
    justify-content: center;
}
footer .fa{
    width: 4.8rem;
    height: 4.8rem;
    margin: 5px;
    background: rgba(20, 20, 20, 0.897);
    font-size: 2.8rem;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .fa:hover{
    background: #FB3B52;
    border: 2px solid #FB3B52;  
}
.footer h1{
    color: #FB3B52;
}
.footer p{
    font-size: 1.2rem;
}
.footer .infor .btn{
    padding: 15px 35px;
}
/* reponsive header */
@media(max-width:1024px){
    body{
        background: rgb(70, 5, 5);
    }
    .big-header{
        padding:30px 40px 0px 40px;
    }
    .header .logo img{
        width: 5rem;
    }
    .header .logo i{
        font-size: 2rem;
    }
    .navbar li{
        margin: 10px;
        font-size: 1.1rem;


}


@media(max-width:528px){
    body{
        background: rgb(15, 161, 35);
    }
    .header .logo{
        display: none;
    }
    .navbar{
        display: block;
        text-align: center;
        margin: auto;
    }
    .big-header{
        background: #2f2f2f;
        height: 30vh;
    }
    .small-header{
        background: #2f2f2f;
        padding: 5vh;

    }
    .main-header{
        display: none;
     
    }
}










/* responsive footer */

