@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
body{
    margin: 0;
    padding: 0;
    color: white;
    background: #6C6C6C;
    font-family: 'Roboto', sans-serif;
}
.big-header{
    
    background-image:url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding:30px 70px 0px 80px;
    height: 90vh;
}
.small-header{
    background:#403F3F;
    padding:7px 80px 7px 80px;
}
.header nav{
    display: flex;
    justify-content: space-between;
}
.small-header nav{
    display: flex;
    align-items: center;
}
.header .logo{
    display: flex;
   

}
.header .logo img{
    width: 9rem;
}
.header a,footer a{
    text-decoration: none;
    color: white;

}
.header .logo i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}
i span{
    color: #FB3B52;
}

/* nav */
.navbar{
    display:flex;
    margin-top: 1.2rem;
}
.navbar li{
    list-style: none;
    margin: 10px;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.navbar li a:hover{
    color:#FB3B52 ;
}
#focus{
    color:#FB3B52;
    font-weight: bold;
}

/* main-header */
.main-header{
    margin-top:5%;
}
.main-header .h3{
    font-size: 3rem;

}
.main-header .h1{
    font-size: 8.5rem;
    font-weight: bold;
    text-shadow: 0rem 0.1rem 1rem rgb(8, 70, 73);
}
.main-header .h4{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: -1rem;
}
.btn{
    background: #FB3B52; 
    border: none;   
    color: white;
    font-weight: bold;
}
.btn:hover{
    background: rgb(102, 98, 98);
}
.main-header .btn-header{
    margin-top: 3rem;
    padding: 20px 90px;
    font-size: 1.2rem;

}
/* -------------------------------------- */


/* body==-------------------------------------------------- */
.body{
    width: 96%;
    margin: auto;
}

/* name  of pang ------------- */
.name{
    width: 100%;
    display: flex;
    margin-top: -1.52rem;
}
.name p{
    background: #FB3B52;
    clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
    padding: 20px 95px;
    font-size: 1.5rem;
    font-weight: bold;
}
.name span{
    border-bottom: 3px solid #FB3B52;
    width: 80%;
    margin-bottom: 1.52rem;

}
/* coard-col */
.coard-col{
    display: flex;
    background: rgb(209, 204, 204);
    padding: 20px;
    margin-bottom: 3rem;
}
.coard-col:hover{
    box-shadow: 0 0.5rem 1rem #FB3B52;
}
.coard-col img{
    height: 55vh;
    margin-right: 3rem;
}
.coard-col h1,.coard-col p{
    color: #000;
}
.coard-col h1{
    font-size: 2.5rem;
}
.coard-col p{
    font-size: 1.4rem;
}

.coard-col span{
    color: #FB3B52;
}
.coard-col .btn-card{
    padding: 15px 55px;
}

/* ----------------- */
/* nam-header */
.nam-header{
    text-align: center;
    clip-path: polygon(65% 0, 60% 52%, 65% 100%, 35% 100%, 39% 52%, 35% 0);
   background: #FB3B52;
   padding: 5px 15px;
}
/* box============= */

 .boxs {
    display: grid;

    grid-gap: 1rem;

  }
  .box-home{
    grid-template-areas:
    'box1 box1 box1 box1'
    'box2 box2 box3 box4'
    'box2 box2 box5 box5';

  }
  .box-hobbies{
    grid-template-areas:
    'box1 box1 box1 box1 box2'
    'box3 box3 box4 box4 box2'
    'box5 box5 box5 box5 box5';

  }
  .boxs a{
      text-decoration: none;
      font-size:2rem;
      color: white;

  }
  .box{
    background-size: cover;
    background-position: center;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box1{
      grid-area: box1;


  }
  .box2{
  
    grid-area: box2;

    }
    .box3{
      
        grid-area: box3;
    }
    .box4{
        grid-area: box4;
    }
    .box5{
        grid-area: box5;
    
    }
    .add-photo-home1{
        background-image:url(../images/homepage.jpg);

    }
    .add-photo-home2{

        background-image:url(../images/EDU.jpg);

    }
    .add-photo-home3{
        background-image:url(../images/hob.jpg);
    }
    .add-photo-home4{
        background-image:url(../images/CONTACT.jpeg);

    }
    .add-photo-home5{
        background-image:url(../images/ho.jpg);

    }

    .add-photo-hobbies1{
        background-image:url(../images/banner.jpg);

    }
    .add-photo-hobbies2{

        background-image:url(../images/banner.jpg);

    }
    .add-photo-hobbies3{
        background-image:url(../images/banner.jpg);
    }
    .add-photo-hobbies4{
        background-image:url(../images/banner.jpg);

    }
    .add-photo-hobbies5{
        background-image:url(../images/banner.jpg);

    }


















/* footer */
footer{
    background: #3d3a3a;
    display: flex;
    padding: 4.5rem;
    margin-top: 3rem;
    
}
.footer .logo{
    width: 15%;
    display: block;
    font-size: 3rem;
    font-weight: bold;
}
.footer .logo img{
    width: 80%;
}
footer .menu{
    text-align: center;
    margin: auto;
}
.footer .infor{
    text-align: center;
    width: 22%;
}
.footer .icons{
    display: flex;
    justify-content: center;
}
footer .fa{
    width: 4.8rem;
    height: 4.8rem;
    margin: 5px;
    background: rgba(20, 20, 20, 0.897);
    font-size: 2.8rem;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .fa:hover{
    background: #FB3B52;
    border: 2px solid #FB3B52;  
}
.footer h1{
    color: #FB3B52;
}
.footer p{
    font-size: 1.2rem;
}
.footer .infor .btn{
    padding: 20px 45px;
}


/* reponsive header--------------------------------------------- */
@media(max-width:1024px){
    body{
        background: rgb(70, 5, 5);
    }
    /* header------------------------------------------ */
    .big-header{
        padding:40px 40px 0px 40px;
        height: 50vh;
    }
    .small-header{
        padding:25px 40px 10px 40px;
    }
    .header .logo img{
        width: 5rem;
    }
    .header .logo i{
        font-size: 2rem;
    }
    .navbar li{
        font-size: 1.1rem;
    }
    .main-header .h3{
        font-size: 2.5rem;
        margin-bottom: -0.5rem;
    }
    .main-header .h1{
        font-size: 5.5rem;
    }
    .main-header .h4{
        font-size: 1.5rem;
    }
    .main-header .btn-header{
        margin-top: 2rem;
        padding: 10px 30px;
    }
    .header .navbar,header .logo{
        margin-top: -1rem;
    }

    /* ========== */

    /* body================== */

    /* benner-- */

    /* name---------- */
    .name{
        width: 100%;
        display: flex;
        margin-top: -1.52rem;
    }
    .name p{
        background: #FB3B52;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        text-align: center;

    }
    .name span{
       display: none;
    
    }
    /* coard-col */
    .coard-col{
        display: block;
        text-align: center;
    }
    .coard-col .d{
       display: none;
    }

    /* box */
    .box-home{
        grid-template-areas:
        'box1 box1'
        'box2 box2'
        'box3 box4'
        'box5 box5';
    
      }
  






    /* footer--------------------------------------- */
    footer{
        padding: 1rem;
        
    }
    .footer .menu .navbar li{
        font-size: 1rem;
    }
    .footer .infor{
        width: 20%;
    }
    .footer .infor p span{
        display: none;
    }
    .footer .infor p{
        font-size: 0.8rem;

    }
    footer .fa{
        width: 3.8rem;
        height: 3.8rem;
        margin: 3px;
        font-size: 2rem;
    }
    footer h1{

        font-size: 1.5rem;
    }
    footer .logo{
        margin: 2rem 1rem;
    }
    footer .logo div i{
        font-size: 2rem;
    }




}


@media(max-width:500px){
    body{
        background: rgb(15, 161, 35);
    }
    .header .logo{
        display: none;
    }
    .navbar{
        display: block;
        text-align: center;
        margin: auto;
    }
    .big-header{
        background: #2f2f2f;
        height: 30vh;
        position: sticky;
        top: 0;
        z-index: 99999;
    }
    .small-header{
        background: #2f2f2f;
        padding: 7vh;
        position: sticky;
        top: 0;
        z-index: 99999;

    }
    .main-header{
        display: none;
     
    }

    /* ----------------------------- */
       /* body================== */
    
       /* benner */
    .benner img{
        display: none;
    }
    /* name---------- */
    .name{
        width: 100%;
        display: flex;
        margin-top: -1.52rem;
    }
    .name p{
        background: #FB3B52;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        text-align: center;

    }
    .name span{
       display: none;

    
    }
      /* coard-col ------------------*/
      .coard-col{
        display: block;
        text-align: center;
    }
    .coard-col img{
        margin-left: 1.4rem;

    }
    .coard-col h1{
        font-size: 2rem;
        margin-bottom: -1rem;
    }
    .coard-col .p{
       display: none;
    }
    /* box */
    .box-home{
        
            grid-template-areas:
            'box1 '
            'box2'
            'box3'
            'box4'
            'box5';
        
          }
    .box-hobbies{
 
            grid-template-areas:
            'box1 '
            'box2'
            'box3'
            'box4'
            'box5';
        
        
          }
          .boxs{
            margin-left: 1re;
          }
          .box{
            background-size: cover;
            background-position: center;
            padding: 8rem 0rem;
            text-align: center;
           
          }









/* responsive footer -----------------------------------*/
    footer{
        padding: 1rem;
        display: block;
    
    }
    .footer .menu .navbar li{
        font-size: 1rem;
    }
    .footer .infor{
        width: 20%;
    }
    .footer .infor p ,.footer .infor h1{
     display: none;
    }


    footer .fa{
        width: 3rem;
        height: 3rem;
        margin: 2px;
        font-size: 2rem;
    }
    footer h1{

        font-size: 1.5rem;
    }
    footer .logo div i{
        display: none;
    }
    footer .logo img{
        display: none;
    }
    footer .infor{
        margin-top: 2vh;
        width: 100%;

    }
    footer .infor .btn{
        display: none;

    }




}
/* ------------------------------------------------ */














